.battle-wrapper {
  border: 1px solid black;
  padding: 10px;
}

.entities-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(85, 85, 85);
  padding: 10px;
}

.log {
  width: 200px;
  text-align: center;
  font-weight: bold;
  height: 100px;
  overflow-y: auto;
}
