.equipment-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 50px);
  grid-gap: 2rem;
  grid-template-areas:
    '. head .'
    'weapon torso .'
    '. legs .'
    'ring boots .';
}

.equipment-item--legs {
  grid-area: legs;
}
.equipment-item--head {
  grid-area: head;
}
.equipment-item--weapon {
  grid-area: weapon;
}
.equipment-item--torso {
  grid-area: torso;
}
.equipment-item--boots {
  grid-area: boots;
}
.equipment-item--ring {
  grid-area: ring;
}
