.navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-link {
  padding: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
}

.nav-link--active {
  background-color: #6a6b78;
}
