.exploration-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #716d6d;
  color: white;
  font-size: 1.3rem;
  gap: 20px;
  padding: 120px;
  text-align: justify;
}
