@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Didact+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rarity-rare: #f5bb00;
  --rarity-legendary: #d89519;
  --rarity-magic: #3772ff;
  --rarity-common: #f5f1ed;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  @apply bg-customBlack;
  font-family: 'Didact Gothic';
}

.App {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
