@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rarity-rare: #F5BB00;
  --rarity-legendary: #d89519;
  --rarity-magic: #3772FF;
  --rarity-common: #F5F1ED;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  @apply bg-customBlack;
  font-family: 'Poppins';
}

.App {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
