@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: 'Cinzel Decorative', cursive; */
  --rarity-rare: rgb(224, 224, 0);
  --rarity-legendary: #d89519;
  --rarity-magic: rgb(58, 58, 235);
  --rarity-common: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  @apply bg-landingBg
}

.App {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
