.inventory-item {
  display: inline-block;
  position: relative;
  padding: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(139, 133, 133);
  border: 4px solid #969494;
  cursor: pointer;
  margin: 5px;
}

.inventory-item--rare {
  border-color: var(--rarity-rare);
}
.inventory-item--magic {
  border-color: var(--rarity-magic);
}
.inventory-item--common {
  border-color: var(--rarity-common);
}
.inventory-item--legendary {
  border-color: var(--rarity-legendary);
}

.tooltip {
  display: flex;
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 10px;
  background-color: rgb(88, 88, 88);
  color: white;
  padding: 15px;
  white-space: nowrap;
  top: 60px;
  left: -2px;
  z-index: 999;
  border: 4px solid;
}

.amount {
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 1.2rem;
  right: 5px;
  bottom: 0;
}

.tooltip--rare {
  border-color: var(--rarity-rare);
}
.tooltip--magic {
  border-color: var(--rarity-magic);
}
.tooltip--common {
  border-color: var(--rarity-common);
}
.tooltip--legendary {
  border-color: var(--rarity-legendary);
}

.metadata-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
