.inventory-item {
  display: inline-block;
  position: relative;
  padding: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 5px;
}

.inventory-item--rare {
  border-color: var(--rarity-rare);
}
.inventory-item--magic {
  border-color: var(--rarity-magic);
}
.inventory-item--common {
  border-color: var(--rarity-common);
}
.inventory-item--legendary {
  border-color: var(--rarity-legendary);
}

.tooltip {
  @apply bg-black !important;
}

.amount {
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 1.2rem;
  right: 5px;
  bottom: 0;
}

.tooltip--rare {
  border-color: var(--rarity-rare);
}
.tooltip--magic {
  border-color: var(--rarity-magic);
}
.tooltip--common {
  border-color: var(--rarity-common);
}
.tooltip--legendary {
  border-color: var(--rarity-legendary);
}

.tooltip-desc--rare {
  color: var(--rarity-rare);
}
.tooltip-desc--magic {
  color: var(--rarity-magic);
}
.tooltip-desc--common {
  color: var(--rarity-common);
}
.tooltip-desc--legendary {
  color: var(--rarity-legendary);
}

.metadata-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
