.inventory-item {
  display: inline-block;
  position: relative;
  padding: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: 3px solid;
  cursor: pointer;
}

.inventory-item--rare {
  border-color: var(--rarity-rare);
}
.inventory-item--magic {
  border-color: var(--rarity-magic);
}
.inventory-item--common {
  border-color: var(--rarity-common);
}
.inventory-item--legendary {
  border-color: var(--rarity-legendary);
}

.tooltip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 15px;
  white-space:nowrap;
  top: 60px;
  left: -2px;
  z-index: 999;
  border: 3px solid;
}

.amount {
  color: white;
  position: absolute;
  font-weight: bold;
  right: 0;
  bottom: 0;
}

.tooltip--rare {
  border-color: var(--rarity-rare);
}
.tooltip--magic {
  border-color: var(--rarity-magic);
}
.tooltip--common {
  border-color: var(--rarity-common);
}
.tooltip--legendary {
  border-color: var(--rarity-legendary);
}

.metadata-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
